.footer  {
    color:$white;
    font-size:$base__font-size ;
    padding:10px;
    margin-bottom:0;
     background:$kashmir-blue ;
    text-align:center;
    background:linear-gradient(to left,$color-secondary,$kashmir-blue);
   
}